attrs==20.2.0
attr
black==19.10b0
flask
ipdb
joblib
nose
numba
nvidia-ml-py3
pandas
parameterized
psutil
pre-commit
pyzmq==20.0.0
tabulate
tensorboard
torch
tqdm
typing_extensions

# diplomacy_research deps
tornado>=5.0
protobuf>=3.6.1
pyyaml
python-hostlist
gym>=0.9.6
requests
grpcio==1.15.0
grpcio-tools==1.15.0
submitit~=1.4

# MILA advisor deps
chiron-utils @ git+https://github.com/ALLAN-DIP/chiron-utils.git@7afb0f9bffc88123428fd69f49befd03bb752457
#diplomacy @ git+https://github.com/ALLAN-DIP/diplomacy.git@aa6055fe9b933bd393a0339568e102534bb2009c